########## Build- & CMSIS-/Keil-Output ##########

# generelle Buildordner in allen Projekten
**/build/
**/out/
**/tmp/
**/Debug/
**/Release/

# csolution / cbuild Output
/Programs/*/DebugConfig/
/Programs/*/RTE/
/Programs/**/.cbuild*/
/Programs/**/cbuild-*.yml
.cbuild/
RTE/

# ggf. generierte Binaries/Artefakte
**/*.o
**/*.obj
**/*.elf
**/*.hex
**/*.map
**/*.log

########## Tools / vcpkg / CMake ##########

vcpkg_installed/
buildtrees/
compile_commands.json
CMakeCache.txt
CMakeFiles/
*.cmake

########## Editor-/User-Temp ##########

*.bak
*.tmp
*.swp
Thumbs.db
desktop.ini

########## VS Code ##########
# WICHTIG: .vscode NICHT global ignorieren,
# damit tasks.json, c_cpp_properties.json etc. versioniert werden.
# Nur Cache-/Auto-Kram raus:

.vscode/ipch/
.vscode/.cmake.api/
.vscode/.config/

# Keil / ARM generierte Cache-Dateien
**/*.cbuild-idx.yml
**/.clangd
**/.cmsis/

.vscode/settings.json