# ===== Build & CMSIS output =====
/Programs/*/DebugConfig/
/Programs/*/ITSboard/
/Programs/*/RTE/
/Programs/*/out/
/Programs/*/build/
/Programs/*/tmp/
/Programs/**/.cbuild*/
/Programs/**/cbuild-*.yml
.cbuild/
RTE/
out/
build/
tmp/

# ===== Keil / CMSIS project files =====
*.axf
*.elf
*.map
*.lst
*.dep
*.htm
*.o
*.obj
*.d
*.uvoptx
*.uvprojx
*.cprj.bak
*.csolution.bak
*.uvguix.*

# ===== VS Code =====
.vscode/
*.log
.vscode/settings.json
.vscode/tasks.json

# ===== Tools =====
vcpkg_installed/
buildtrees/
compile_commands.json
*.cmake
CMakeCache.txt
CMakeFiles/

# ===== Windows system files =====
Thumbs.db
desktop.ini

# ===== Clang / IntelliSense =====
*.clangd
.clangd/
.ccls-cache/

# ===== CMSIS / ITS Board specific =====
Programs/**/.cmsis/
Programs/**/TestNewFont/
Programs/**/Stack/
Programs/**/Logs/
Programs/**/ITS_BRD_LIB/Utilities/AddFonts/
Programs/**/DisplayWaveshare/
Programs/**/Drivers/
Programs/**/stm32cubef4/

# ===== User-specific =====
*.bak
*.tmp
*.swp
